
 @media (max-width:767px){

.visible{
	visibility: hidden !important;
	opacity: 0;
	transition: .3s;
	position: absolute;
	left: 170px;
	right: 170px;
}





	 }






 @media(min-width:768px) and (max-width:992px){

.visible{
	visibility: hidden !important;
	opacity: 0;
	transition: .3s;
	position: absolute;
	left: 337px;
	right: 329px;
}



 	} 